@import 'default.scss';

body {
  display: flex ;
  background-color: $gray;
  justify-content: center;
}

#todo {
  display: flex;;
  width: 440px;
  height: 780px;
  background-color: $white;
  border-radius: 15px;
  justify-content: center;
}

.title {
  font-family: 'Comfortaa', cursive;
  text-align: center;
}