@import './default.scss';

#todo {
  display: flex;;
  width: 440px;
  height: 780px;
  background-color: $white;
  border-radius: 15px;
  flex-direction: column;
}

#todayDate {
  margin-top: 25px;
  margin-left: 15px;
  margin-bottom: 6px;
}

#today {
  margin-left: 15px;
  margin-top: 6px;
  font-size: 18px;
}